@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "_utils";

// 2. Set your own initial variables
// Update the blue shade, used for links

// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
$primary: rgba(29, 153, 243, 0.7);


// 4. Import the rest of Bulma

.laptop, .phone,
.phone-with-overlay,
.laptop-with-overlay {
  position: relative;
}

.phone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16.5%;
  margin-left: 3.5%;
  width: 92%;
}

.laptop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3%;
  margin-left: 8.5%;
  width: 84%;
}

.laptop-with-overlay.bottom-right, .laptop-with-overlay.top-center {
  overflow: hidden;
}

.laptop-with-overlay.top-center {
  .laptop {
    transform-origin: top center;
    transform: scale(2);
  }

  .laptop-overlay {
    margin-top: 5%;
    margin-left: 0;
    width: 100%;
  }
}

.laptop-with-overlay.bottom-right {
  .laptop {
    transform-origin: bottom right;
    transform: scale(2);
  }

  .laptop-overlay {
    margin-top: 0;
    margin-left: 0;
    width: 78%;
  }
}

@import "../node_modules/bulma/bulma";

// overwrite
.navbar-item img {
    max-height: 40px
}
